h1 {
    text-align: center;
    font-family:'brush-script', Courier, monospace;
    text-decoration: underline;
    
}

h2 {
    font-family:'brush-script', Courier, monospace;
    margin-left: 5px;
}

#logo-img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80%;
    margin-top: -65px;
}

#game-home {
    width: 90%;
    margin-left: 10px;
    padding-left: 10px;
}

#game-space {
    height: 100px;
}

#wintoken {
    color: white;
}

#hint {
    display:none;
}

#game-hint {
    text-align: center;
}

#nugget {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 69%;
    top: 27%;
    display: none;
}

@media screen and (min-width: 375px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 30%;
        display: none;
    }
}

@media screen and (min-width: 425px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 32%;
        display: none;
    }
}

@media screen and (min-width: 768px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 52%;
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 70%;
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 79%;
        display: none;
    }
}

