/* styles.css */
body {
    background-color: silver;
    color: black;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
}

h1 {
    margin-top: 5px;
    max-width: 1rem;
    
}

p {
    margin-left: 3px;
    
}

.logo {
    position: absolute;
    margin-top: 95px;
    left: 50px;
}

#logo-img {
    max-width: 50px;
    max-height: 50px;
}

/* game space content goes here*/
#game-home {
    max-width: 150px;
}




/* hint button*/

#hint-btn {
    cursor: pointer;
    text-decoration: none;
    margin-left: 3px;
    max-width: 150px;
}

/* end game checker*/
#token-checker {
    position: absolute;
    margin-left: 3px;
    margin-bottom: 50px;
}

#token-input {
     
}

#check-btn {

} 
@media screen and (max-width: 320px) {
    token-checker {
    
    }
}