p {
    margin-left: 3px;
}


/* header*/


h1 {
    text-align: center;
    font-family:'brush-script', Courier, monospace;
    text-decoration: underline;
}

.nav {
    position: absolute;
    left: 36%;
    top: 60px;
    text-decoration: underline;
    border-radius: 8px;
}


/* mian page*/
h2 {
    font-family:'brush-script', Courier, monospace;
    margin-left: 5px;
}

#logo-img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80%;
    margin-top: -65px;
}

#game-home {
    text-align: center;
    width: 90%;
    margin-left: 10px;
    padding-left: 10px;
}

#game-space {
    height: 100px;
}

#wintoken {
    color: white;
}

#hint {
    display:none;
}

#game-hint {
    text-align: center;
}

#nugget {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 69%;
    top: 27%;
    display: none;
}

/*examples page*/

#highlight-image {
    width: 80%;
    margin-left: 30px;
}

/*404 page*/

#error-content {
   text-align: center; 
   margin-top: 15%;
}

/* hidden admin page*/

#treasure {
    width: 60%;
    height: 200px;
   position: absolute;
   left: 25%;
}

#hidden-h2 {
    position: absolute;
    margin-top: 70%;
    text-align: center;
}

#admin-home{
    position: absolute;
    margin-top: 115%;
    margin-left: 30%;
    text-decoration: underline;
}

/* media querries*/
@media screen and (min-width: 375px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 30%;
        display: none;
    }
}

@media screen and (min-width: 425px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 32%;
        display: none;
    }
}

@media screen and (min-width: 768px) {
    
    .nav {
        position: absolute;
        left: 45%;
        top: 60px;
        text-decoration: underline;
        border-radius: 8px;
    }

    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 52%;
        display: none;
    }

    #treasure {
        width: 48%;
        height: 200px;
       position: absolute;
       left: 25%;
    }

    #hidden-h2 {
        position: absolute;
        margin-top: 50%;
        margin-left: 25%;
    }


    #admin-home{
        position: absolute;
        margin-top: 70%;
        margin-left: 40%;
        text-decoration: underline;
    }
}

@media screen and (min-width: 1024px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 70%;
        display: none;
    }

    #treasure {
        width: 35%;
        height: 200px;
        margin-left: 90px;
       position: absolute;
       left: 25%;
    }

    #hidden-h2 {
        position: absolute;
        margin-top: 30%;
        margin-left: 28%;
    }


    #admin-home{
        position: absolute;
        margin-top: 40%;
        margin-left: 40%;
        text-decoration: underline;
    }
}

@media screen and (min-width: 1440px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 79%;
        display: none;
    }

    #treasure {
        width: 25%;
        height: 300px;
        margin-left: 110px;
       position: absolute;
       left: 25%;
    }

    #hidden-h2 {
        position: absolute;
        margin-top: 30%;
        margin-left: 32%;
    }


    #admin-home{
        position: absolute;
        margin-top: 40%;
        margin-left: 40%;
        text-decoration: underline;
    }
}

@media screen and (min-width: 1680px) {
    
    #nugget {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 69%;
        top: 100%;
        display: none;
    }


    #treasure {
        width: 25%;
        height: 300px;
        margin-left: 110px;
       position: absolute;
       left: 25%;
    }

    #hidden-h2 {
        position: absolute;
        margin-top: 20%;
        margin-left: 32%;
    }


    #admin-home{
        position: absolute;
        margin-top: 40%;
        margin-left: 40%;
        text-decoration: underline;
    }
}